[View in Colaboratory](https://colab.research.google.com/github/shubhamuttarwar/tensorflow.js_explained/blob/master/corr_report.ipynb)

In [9]:
import pandas as pd
import numpy as np
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cylinders', 'displacement','horsepower',
            'weight', 'acceleration', 'model_year', 'origin', 'name'],
            na_values='?').head(10)
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

In [0]:
mean_mpg = sum(mpg_data['mpg'])/10
mean_horsepower = sum(mpg_data['horsepower'])/10
mean_acceleration = sum(mpg_data['acceleration'])/10

mpg_data['new_mpg'] = mpg_data['mpg'] - mean_mpg
mpg_data['new_horsepower'] = mpg_data['mpg'] - mean_horsepower
mpg_data['new_acceleration'] = mpg_data['mpg'] - mean_acceleration

mpg_data['new_mpg_squared'] = mpg_data['new_mpg']**2
mpg_data['new_hp_squared'] = mpg_data['new_horsepower']**2
mpg_data['new_accl_squared'] = mpg_data['new_acceleration']**2

mpg_data['mpg_times_hp'] = mpg_data['new_mpg'].multiply(mpg_data['new_horsepower'])
mpg_data['mpg_times_accl'] = mpg_data['new_mpg'].multiply(mpg_data['new_acceleration'])

mpg_data.to_csv("correlation.csv", columns = ['mpg','horsepower','acceleration','new_mpg','new_horsepower','new_acceleration','new_mpg_squared','new_hp_squared','new_accl_squared','mpg_times_hp','mpg_times_accl'])

In [0]:
from google.colab import files
files.download('correlation.csv')

In [23]:
#correlation of mpg vs horsepower
print('correlation of mpg vs horsepower')
print(mpg_data['mpg'].corr(mpg_data['horsepower']))

#correlation of mpg vs acceleration
print('correlation of mpg vs acceleration')
print(mpg_data['mpg'].corr(mpg_data['acceleration']))

correlation of mpg vs horsepower
-0.9110932216877369
correlation of mpg vs acceleration
0.6687545868454264